langchain
langchain-community
bs4
pymupdf
ipykernel
arxiv
bs4
python-dotenv
langchain-openai
langchain_anthropic
pypdf
langgraph
langchain-core
langchain-groq
wikipedia
langgraph-cli[inmen]
huggingface_hub
langchain-huggingface
accelerate
arxiv
faiss-cpu
streamlit
tavily-python